[submodule "implementations/c/lightning"]
	path = implementations/c/lightning
	url = https://github.com/ElementsProject/lightning
[submodule "implementations/go/lnd"]
	path = implementations/go/lnd
	url = https://github.com/lightningnetwork/lnd
[submodule "implementations/rust/rust-lightning"]
	path = implementations/rust/rust-lightning
	url = https://github.com/lightningdevkit/rust-lightning
[submodule "implementations/scala/eclair"]
	path = implementations/scala/eclair
	url = https://github.com/ACINQ/eclair
[submodule "bips"]
	path = bips
	url = https://github.com/bitcoin/bips
[submodule "bolts"]
	path = bolts
	url = https://github.com/lightning/bolts
